<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.0" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="3.0.0" targetFramework="net452" />
  <package id="Energistics.DataAccess" version="2.0.20160722.1" targetFramework="net46" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="PDS.Framework" version="2016.1.20160804.4" targetFramework="net46" />
</packages>