<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Energistics.Etp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PDS.WITSMLstudio.Desktop.Plugins.WitsmlBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Energistics.Etp.Properties.Settings>
      <setting name="DefaultWebSocketType" serializeAs="String">
        <value>WebSocket4Net</value>
      </setting>
    </Energistics.Etp.Properties.Settings>
    <PDS.WITSMLstudio.Desktop.Plugins.WitsmlBrowser.Properties.Settings>
      <setting name="DisableIndicatorQueries" serializeAs="String">
        <value>False</value>
      </setting>
    </PDS.WITSMLstudio.Desktop.Plugins.WitsmlBrowser.Properties.Settings>
  </applicationSettings>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="PDS.WITSMLstudio.Desktop.Core.Providers.LoggingSoapExtension, PDS.WITSMLstudio.Desktop.Core" priority="1" group="High" />
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10" />
    </connectionManagement>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.14.1.0" newVersion="0.14.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
